@import "../../constants/colors.scss";

.container {
    border: 1px solid $border;
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    background-color: $white;
    height: 85px;
}

.userPicture {
    height: 100%;
}

.detailsBox {
    margin-left: 10px;
}

.name {
    margin-bottom: 5px;
    font-size: 18px;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}