@import "../../constants/colors.scss";

.container {
    // margin-top: 20px;
    padding: 0 10px 0 10px;
    background-color: $appBgColor;
    height: 100vh;
    overflow-y: auto;
}

.dataBox {
    margin: 30px 0;
}

.title {
    text-align: center;
    margin-bottom: 10px;
}

.inputBox {
    text-align: center;
}

.userBox {
    margin-top: 20px;
}

.mt20 {
    margin-top: 20px;
}

.message {
    text-align: center;
    font-size: 20px;
    margin-top: 50px 
}